.classA {
    width: 100%;
    overflow: hidden;
    height: 380px;
}
.classB {
    width: 100%;
    overflow: hidden;
    height: 480px;
}

.photo-column {
    background-color: cornflowerblue;
    height: 900px;
}

#photo-gallery {
    background-color:lightsteelblue;
    height: 900px;
}

.photo-sm{
    width: 100%;
    height: 380px;
    background-color: papayawhip;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color: rgb(252, 210, 143);
    margin-top: 20px;
    overflow: hidden;
}

@media(min-width: 575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media(min-width: 767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media(min-width: 991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}